
nav{
    display: flex;
    justify-content: space-around;
    background-color: skyblue;
}
nav > ul{
    list-style: none;
    margin-top: 15px;
    
   
}
ul > li{
   
    display: inline;
    margin-left: 20px;
    font-weight: bolder;
    border-radius: 10px;
    background-color: bisque;
    padding: 5px;   
}
li > a {
    text-decoration: none;
}
